@model BookingModel
@{
    ViewData["Title"] = "Booking";
    Layout = "_LayoutUser";
}

<div id="room" class="section bg-lightgrey">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="col-md-6 col-md-offset-3">
            <form asp-controller="User" asp-action="AvailableRooms">
                <br />
                <h4>Book room</h4>
                <hr />
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.RoomBooking.DateFrom)
                        @Html.TextBoxFor(m => m.RoomBooking.DateFrom, "", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.RoomBooking.DateFrom, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.RoomBooking.DateTo)
                        @Html.TextBoxFor(m => m.RoomBooking.DateTo, "", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.RoomBooking.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RoomBooking.Roomtype)
                    @Html.DropDownList("Roomtype", new SelectList(Enum.GetValues(typeof(RoomBookingModel.Room))), new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="hall" class="section bg-grey">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form method="post">
                <br />
                <h4>Book hall</h4>
                <hr />
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.HallBooking.DateFrom)
                        @Html.TextBoxFor(m => m.HallBooking.DateFrom, "", new { @class = "form-control", @type = "datetime-local" })
                        @Html.ValidationMessageFor(m => m.HallBooking.DateFrom, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.HallBooking.DateTo)
                        @Html.TextBoxFor(m => m.HallBooking.DateTo, "", new { @class = "form-control", @type = "datetime-local" })
                        @Html.ValidationMessageFor(m => m.HallBooking.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HallBooking.Halltype)
                    @Html.DropDownList("Halltype", new SelectList(Enum.GetValues(typeof(HallBookingModel.Hall))), "Select halltype", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}