@model RoomBookingModel
@{
    ViewData["Title"] = "Booking";
    Layout = "_LayoutUser";
}

@{
    var values = Enum.GetValues(typeof(RoomBookingModel.Room)).Cast<RoomBookingModel.Room>();

    IEnumerable<SelectListItem> items =
        from value in values
        select new SelectListItem
        {
            Text = value.ToString(),
            Value = value.ToString(),
            Selected = (value.Equals(Model.Roomtype))
        };
}

<div id="room" class="section bg-lightgrey">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="col-md-6 col-md-offset-3">
            <p class="alert alert-danger"><strong>Booking failed!</strong> Arrival has to be today or later and be earlier than departure, please try again.</p>
            <form method="post" action="/User/AvailableRooms">
                <br />
                <h4>Book room</h4>
                <hr />
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.DateFrom)
                        @Html.TextBoxFor(m => m.DateFrom, "", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.DateFrom, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.DateTo)
                        @Html.TextBoxFor(m => m.DateTo, "", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.DateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Roomtype)
                    @Html.DropDownListFor(m => m.Roomtype, items, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Remark)
                    @Html.TextBoxFor(m => m.Remark, "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Book room!</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}